<div class="location-page">
    <div class="container">
        <div class="sidebar">

            <div class="sidebar-content">
                <div class="section">
                    <h1>Filters
                    </h1>
                </div>

                <div class="section">
                    <label class="section-label">Range</label>
                    <input type="number" list="range-options" class="range-input" min="0" placeholder="Enter range (km)"
                        [defaultValue]="2" [(ngModel)]="range">
                    <datalist id="range-options">
                        <option value="1">1 km</option>
                        <option value="2">2 km</option>
                        <option value="5">5 km</option>
                        <option value="10">10 km</option>
                        <option value="15">15 km</option>
                    </datalist>

                </div>
                <div class="section">
                    <label class="section-label">Type</label>
                    <div class="checkbox-container">
                        <div class="checkbox-button" (click)="toggleCheckbox($event)">
                            <input type="checkbox" id="museum" value="museum">
                            <label for="museum">Museum</label>
                        </div>
                        <div class="checkbox-button" (click)="toggleCheckbox($event)">
                            <input type="checkbox" id="restaurant" value="restaurant">
                            <label for="restaurant">Restaurant</label>
                        </div>
                        <div class="checkbox-button" (click)="toggleCheckbox($event)">
                            <input type="checkbox" id="sightseeing" value="sightseeing">
                            <label for="sightseeing">Sightseeing</label>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <label class="section-label">Minimum Rating</label>
                    <div class="rating-container">
                        <div class="rating">
                            <input type="radio" id="star5" name="rate" value="5">
                            <label for="star5" title="text"></label>
                            <input type="radio" id="star4" name="rate" value="4">
                            <label for="star4" title="text"></label>
                            <input checked="" type="radio" id="star3" name="rate" value="3">
                            <label for="star3" title="text"></label>
                            <input type="radio" id="star2" name="rate" value="2">
                            <label for="star2" title="text"></label>
                            <input type="radio" id="star1" name="rate" value="1">
                            <label for="star1" title="text"></label>
                        </div>
                    </div>
                </div>


                <div class="section filter-buttons">
                    <button class="apply-filters apply-filters-btn" (click)="applyFilters()">Apply Filters</button>
                    <button class="remove-filters remove-filters-btn" (click)="removeFilters()">Remove Filters</button>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="main-content-content">
                <div class="box-map">
                    <div class="box-map-content">
                        <div class="map">
                            <form class="form">
                                <label for="search">
                                    <input required="" autocomplete="off" placeholder="search a place" id="search"
                                        type="text" #mapSearchField>
                                    <div class="icon">
                                        <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                                                stroke-linejoin="round" stroke-linecap="round"></path>
                                        </svg>
                                        <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                            <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round"
                                                stroke-linecap="round">
                                            </path>
                                        </svg>
                                    </div>
                                    <button type="reset" class="close-btn">
                                        <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                            <path clip-rule="evenodd"
                                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                fill-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                </label>
                            </form>
                            <google-map #GoogleMap height="100%" width="100%" [options]="mapCongiguration"
                                (mapClick)="moveMap($event)" (mapMousemove)="move($event)">
                                <map-circle [center]="circleCenter" [radius]="radius"></map-circle>
                            </google-map>
                        </div>
                    </div>
                </div>

                <div class="cards" *ngIf="attractions.length > 0">
                    <app-attraction-card *ngFor="let attraction of pageAttractions"
                        [attraction]="attraction"></app-attraction-card>
                </div>

                <div class="navigation"><button class="nav-btn" (click)="prevPage()">
                        <i class="arrow left"></i>
                    </button>
                    <span class="page-number">{{currentPage}}</span>
                    <button class="nav-btn" (click)="nextPage()">
                        <i class="arrow right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>