<div class="createplan-page">
    <div class="boxes-container">
        <div class="box-content">

            <div class="column column-left">
                <div class="box">
                    <div class="box-content" style="height: 100%;">
                        <h2>Locations in your plans</h2>
                        <div class="height50vh" *ngIf="!isLoading">
                            <div class="selected-attractions-container"
                                *ngFor="let slot of allTimeIntervals; let i = index">
                                <div class="selected-attractions">
                                    <div class="selected-attractions-info">
                                        <img *ngIf="slot.asignedPlace?.imageUrl" [src]="slot.asignedPlace?.imageUrl"
                                            alt="Attraction Image" class="selected-attractions-image" />
                                        <img *ngIf="!slot.asignedPlace?.imageUrl"
                                            src="https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg"
                                            alt="Attraction Image" class="selected-attractions-image" />
                                        <div class="selected-attractions-details">
                                            <h3 class="selected-attractions-title">{{slot.asignedPlace?.name }}

                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spinner-and-cards-wrapper" *ngIf="isLoading">
                            <div class="spinner-container">
                                <app-spinner></app-spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column column-right">
                <div class="box">
                    <div class="box-content">
                        <div>
                            <h2>Trips statistics</h2>
                            <div class="chart-selector">
                                <button (click)="changeChart('attractions')">Attractions Visited</button>
                                <button (click)="changeChart('country')">Country Visited</button>
                                <button (click)="changeChart('city')">City Visited</button>
                            </div>
                            <fusioncharts class="responsive-chart" [type]="chartConfig.type" [width]="chartConfig.width"
                                [height]="chartConfig.height" [dataFormat]="chartConfig.dataFormat"
                                [dataSource]="chartConfig.dataSource" [width]="chartConfig.width"></fusioncharts>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="boxes-container box-cards">
        <div class="box-content">
            <div class="cards-container">
                <div class="card">
                    <h3><i class="material-icons">map</i></h3>
                    <h3>{{nrPlans}}</h3>
                    <p>Finished plans</p>
                </div>
                <div class="card">
                    <h3><i class="material-icons">flag</i></h3>
                    <h3>{{nrCountry}}</h3>
                    <p>Visited countries</p>
                </div>
                <div class="card">
                    <h3><i class="material-icons">location_city</i></h3>
                    <h3>{{nrCity}}</h3>
                    <p>Explored cities</p>
                </div>
                <div class="card">
                    <h3><i class="material-icons">place</i></h3>
                    <h3>{{nrAttraction}}</h3>
                    <p>Discoverd places</p>
                </div>
            </div>
        </div>
    </div>
</div>