<section>
    <div class="contentBx">
        <div class="formBx">
            <h1>Welcome back!</h1>
            <p>Log into your account to start panning.</p>
            <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
                <div class="inputBx">
                    <span>Email</span>
                    <input type="email" formControlName="email" id="email" placeholder="example@ex.com" class="field">
                </div>
                <div class="inputBx">
                    <span>Password</span>
                    <input type="password" formControlName="password" id="password" placeholder="Enter your password"
                        class="field">
                </div>
                <div class="inputBx">
                    <input type="button" name="createNewUser" value="Log in" (click)="onSubmit()">
                </div>


                <p style="padding-bottom: 2px;">Don't have an account? <br> <a routerLink="/SignUp">Create one.</a>
                    <br><br>
                    Or sign in using social media
                </p>

                <div class="button-container">
                    <div class="inputBx" style="width: 50%;">
                        <div class="facebook">
                            <input type="button" style="margin-right: 3px;"
                                value="Facebook" (click)="onFacebookLogin()">
                        </div>
                    </div>
                    <div class="inputBx" style="width: 50%;">
                        <div class="google">
                            <input type="button" style="margin-left: 3px;"
                                value="Google" (click)="onGoogleLogin()">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="imgBx">
        <img
            src="https://cdn.romania-insider.com/sites/default/files/styles/article_large_image/public/featured_images/Autumn-trip-road-Pixabay.com_.jpg">
        <div class="centered">
            <h1>New here?</h1>
            <p>Sign up and discover great amount <br>of new opportunities!</p>
            <a routerLink="/SignUp">Create an account</a>
        </div>
    </div>
</section>