<swiper
      [slidesPerView]="1"
      [spaceBetween]="50"
      [navigation]="true"
      [scrollbar]="{ draggable: true }">
      <ng-template swiperSlide>
        <div class="card-container"> 
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card-container"> 
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card-container"> 
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            </div>
      </ng-template>
      <ng-template swiperSlide><div class="card-container"> 
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        </div>
      </ng-template>
</swiper>