.createplan-page {
    background-color: #f8f8f8;
    min-height: 100vh;
}

.boxes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.box-content {
    display: flex;
    flex-wrap: wrap;
    /* Add this line */
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
}


.box-map {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    height: 100%;
}

.column {
    display: flex;
    flex: 1;
    min-width: 50%;
}

.content-line {
    display: flex;
    align-items: center;
    gap: 8px;
    /* Adjust the space between elements */
    padding: 20px;
}

.date-text {
    font-size: 14px;
    /* Adjust the font size of the date text */
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

.nav-btn {
    outline: none;
    border: none;
    background-color: transparent;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: 0.3s ease-in-out;
}

.arrow:hover {
    border: solid #FFA500;
    border-width: 0 3px 3px 0;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.add-time-slot-btn {
    font-size: 14px;
    /* Adjust the font size of the Add Time Slot button */
    padding: 6px 12px;
    /* Adjust the padding of the Add Time Slot button */
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #FFA500;
    background-color: #FFA500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.add-time-slot-btn:hover {
    background-color: #fff;
    color: #FFA500;
}

.time-slot-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}


.time-slot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.time-slot-info {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.cards {
    background-color: #fff;
    padding: 10px;
    flex-grow: 2;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: stretch;
}

.time-slot-type {
    padding-left: 20px;
}

.time-slot-delete {
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width: 768px) {
    .column {
        min-width: 100%;
    }
}

.box-inside-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* Add this line */
    margin: 0 auto;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #fff;
}

.box-title {
    border-bottom: 2px solid #ccc;
    /* Add this line */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
}

.map {
    background-color: #fff;
    flex-grow: 1;
    border-radius: 6px;
    height: 50vh;
    /* Adjust the value as needed */
    overflow: hidden;
}

.form {

    --input-bg: #FFf;
    /*  background of input */
    --padding: 1.5em;
    --rotate: 80deg;
    /*  rotation degree of input*/
    --gap: 2em;
    /*  gap of items in input */
    --icon-change-color: #15A986;
    /*  when rotating changed icon color */
    --height: 40px;
    /*  height */
    width: 200px;
    padding-inline-end: 1em;
    /*  change this for padding in the end of input */
    background: var(--input-bg);
    position: relative;
    border-radius: 4px;
}

.form label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);
}

.form input {
    width: 100%;
    padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
}

/* style for both icons -- search,close */
.form svg {
    /* display: block; */
    color: #111;
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    position: absolute;
    height: 15px;
}

/* search icon */
.icon {
    position: absolute;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* arrow-icon*/
.swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
}

/* close button */
.close-btn {
    /* removing default bg of button */
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
}

.form input:focus~.icon {
    transform: rotate(var(--rotate)) scale(1.3);
}

.form input:focus~.icon .swap-off {
    opacity: 1;
    transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
}

.form input:focus~.icon .swap-on {
    opacity: 0;
    visibility: visible;
}

.form input:valid~.icon {
    transform: scale(1.3) rotate(var(--rotate))
}

.form input:valid~.icon .swap-off {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
}

.form input:valid~.icon .swap-on {
    opacity: 0;
    visibility: visible;
}

.form input:valid~.close-btn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0s;
}

.form {
    width: 100%;
}

/* app.component.css */
.trip-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    padding-top: 5px;
}

.form-control {
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
}

.form-control:focus {
    outline: none;
    border-color: #FFa500;
    box-shadow: 0 0 0 0.2rem #FFa500;
}

.submit-btn:disabled {
    background-color: #adb5bd;
    cursor: not-allowed;
}