<div class="createplan-page">
    <div class="boxes-container box">
        <div class="box-content">
            <div class="box-map">
                <div class="box-inside-content">
                    <h2 class="box-title">Select a location to explore</h2>
                    <div class="map">
                        <form class="form">
                            <label for="search">
                                <input required="" autocomplete="off" placeholder="search a place" id="search"
                                    type="text" #mapSearchField>
                                <div class="icon">
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                            stroke-linecap="round"></path>
                                    </svg>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                        <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round"
                                            stroke-linecap="round">
                                        </path>
                                    </svg>
                                </div>
                                <button type="reset" class="close-btn">
                                    <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd"
                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                            fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </label>
                        </form>
                        <google-map #GoogleMap height="100%" width="100%" [options]="mapCongiguration">
                            <map-circle [center]="circleCenter" [radius]="radius"></map-circle>
                        </google-map>
                    </div>
                </div>
            </div>

            <div class="column"> <!-- Add this column wrapper -->
                <div class="box">
                    <div class="box-inside-content">
                        <h2 class="box-title">Select a location to explore</h2>
                    </div>
                </div>
            </div>
            <div class="column"> <!-- Add this column wrapper -->
                <div class="box">
                    <div class="box-inside-content">
                        <h2 class="box-title">Select a location to explore</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>