<div class="createplan-page">
    <div class="boxes-container box" [style.display]="generatePlanVisible ? 'none' : 'block'">
        <div class="box-content">

            <h1 class="box-title">Create an unforgettable travel itinerary</h1>
            <div class="column column-left"> <!-- Add this column wrapper -->
                <div class="box">
                    <div class="box-inside-content">
                        <h2 class="box-title">Essential general information</h2>
                        <form [formGroup]="tripForm" (ngSubmit)="onSubmit()" class="trip-form">
                            <div class="form-group">
                                <label for="destination" class="form-label">Trip name</label>
                                <input type="text" formControlName="tripName" id="tripNmae" class="form-control"
                                    required="true" placeholder="New trip" />
                            </div>
                            <div class="form-group">
                                <label for="startDate" class="form-label">Start Date</label>
                                <input type="date" formControlName="startDate" id="startDate" class="form-control" />
                                <label for="endDate" class="form-label" aria-required="true">End Date</label>
                                <input type="date" formControlName="endDate" id="endDate" class="form-control" />

                                <label for="travelers" class="form-label">Distance to travel</label>
                                <input type="number" formControlName="range" id="range" class="form-control"
                                    placeholder="10" defaultValue="10" />
                            </div>
                            <button class="add-time-slot-btn" (click)="onSubmit()">Save information</button>
                            <label style="padding-left: 5px;">{{errorMessageOnSubmit}}</label>
                        </form>
                        <div [ngClass]="{'disabled': dailyProgramEnable}">
                            <h2 class="box-title">Daily hour-by-hour itinerary plan</h2>
                            <div class="content-line">
                                <button class="nav-btn" (click)="prevDay()">
                                    <i class="arrow left"></i>
                                </button>
                                <span class="date-text">{{ displayedDateString }}</span>
                                <button class="nav-btn" (click)="nextDay()">
                                    <i class="arrow right"></i>
                                </button>
                                <button class="add-time-slot-btn" (click)="addTimeElement()"
                                    [disabled]="dailyProgramEnable">Add Time Slot</button>
                                <button class="add-time-slot-btn" (click)="clearTimeElements()"
                                    [disabled]="dailyProgramEnable">Clear</button>
                                <p>{{ errorMessageTimeSlot }}</p>
                            </div>
                            <form class="content-line" style="padding-top: 0px;">
                                <div class="time-input">
                                    <label for="startTime">Start Time:</label>
                                    <input type="time" id="startTime" [(ngModel)]="startTime" name="startTime"
                                        [disabled]="dailyProgramEnable">
                                </div>
                                <div class="time-input">
                                    <label for="endTime">End Time:</label>
                                    <input type="time" id="endTime" [(ngModel)]="endTime" name="endTime"
                                        [disabled]="dailyProgramEnable">
                                </div>
                                <div>
                                    <label for="type">Type:</label>
                                    <div class="select">
                                        <select id="type" [(ngModel)]="type" name="type" class="range-input"
                                            [disabled]="dailyProgramEnable">
                                            <option value="Visiting time">Visiting time</option>
                                            <option value="Eating time">Eating time</option>
                                            <option value="Free time">Free time</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="content-time-slot" [ngClass]="{'disabled': dailyProgramEnable}">
                            <div class="time-slot-container"
                                *ngFor="let slot of newTripInfo.tripTimeSlots[currentDay-1]; let i = index">
                                <div class="time-slot">
                                    <div class="time-slot-info">
                                        <p>{{ slot.start }} - {{ slot.end }} <span class="time-slot-type">{{ slot.type
                                                }}</span></p>
                                    </div>
                                    <button class="time-slot-delete" (click)="removeTimeSlot(i)"
                                        [disabled]="dailyProgramEnable">x</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="column column-right">
                <div class="box-map">
                    <div class="box-inside-content">
                        <h2 class="box-title">Select the place of the trip</h2>
                        <div class="map">
                            <form class="form">
                                <label for="search">
                                    <input required="" autocomplete="off" placeholder="search a place" id="search"
                                        type="text" #mapSearchField>
                                    <div class="icon">
                                        <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                                                stroke-linejoin="round" stroke-linecap="round"></path>
                                        </svg>
                                        <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                            <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round"
                                                stroke-linecap="round">
                                            </path>
                                        </svg>
                                    </div>
                                    <button type="reset" class="close-btn">
                                        <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                            <path clip-rule="evenodd"
                                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                fill-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                </label>
                            </form>
                            <google-map #GoogleMap height="100%" width="100%" [options]="mapCongiguration">
                                <map-circle [center]="circleCenter" [radius]="radius"></map-circle>
                            </google-map>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" *ngIf="displaySelectPlaces==true">
                <div class="box-inside-content">
                    <h2 class="box-title">Select the places that you want to visit</h2>
                    <!-- Filter Bar -->
                    <div class="filter-bar">
                        <div class="filter-item">
                            <label for="orderBy">Order by:</label>
                            <div class="select">
                                <select class="range-input" (change)="onOrderByChange($event)">
                                    <!-- <option value="name">Name</option> -->
                                    <option value="prominence">Prominence</option>
                                    <option value="distance">Distance</option>
                                    <option value="recommendation">Recommendation</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-item">
                            <label for="attractionType">Attraction Type:</label>
                            <div class="select">
                                <select id="attractionType" (change)="onAttractionTypeChange($event)">
                                    <option value="tourist_attraction">Tourist attractions</option>
                                    <option value="museum">Museum</option>
                                    <option value="art_gallery">Art gallery</option>
                                    <option value="place_of_worship">Places of worship</option>
                                    <option value="park">Parks</option>
                                    <option value="restaurant">Restaurants</option>
                                    <option value="cafe">Cafe</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- End Filter Bar -->


                    <div class="cards">
                        <app-creat-aplan-card *ngFor="let attraction of pageAttractions" [attraction]="attraction"
                            [isSelected]="isAttractionSelected(attraction)"
                            (selectItemEvent)="onSelectItem($event)"></app-creat-aplan-card>
                    </div>
                    <div class="navigation"><button class="nav-btn" (click)="prevPage()">
                            <i class="arrow left"></i>
                        </button>
                        <span class="page-number">{{currentPage}}</span>
                        <button class="nav-btn" (click)="nextPage()">
                            <i class="arrow right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="boxes-container box" *ngIf="selectedAttractions.length!=0">
                <div class="box-content">
                    <h2 class="box-title">Selected attractions</h2>
                    <div class="content-selected-attractions">
                        <div class="selected-attractions-container"
                            *ngFor="let attraction of selectedAttractions; let i = index">
                            <div class="selected-attractions">
                                <div class="selected-attractions-info">
                                    <img *ngIf="attraction.imageUrl" [src]="attraction.imageUrl" alt="Attraction Image"
                                        class="selected-attractions-image" />
                                    <img *ngIf="!attraction.imageUrl"
                                        src="https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg"
                                        alt="Attraction Image" class="selected-attractions-image" />
                                    <div class="selected-attractions-details">
                                        <h3 class="selected-attractions-title">{{ attraction.name }}</h3>
                                    </div>
                                </div>
                                <button class="selected-attractions-delete" (click)="removeAttraction(i)">x</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-right">
                <button class="remove-filters remove-filters-btn" [ngClass]="{'disabled': (dailyProgramEnable&&newTripInfo.startLocation==null)}" [disabled]="(dailyProgramEnable&&newTripInfo.startLocation==null)" (click)="onClearSelection()">Clear Selection</button>
                <button class="remove-filters remove-filters-btn" [ngClass]="{'disabled': (dailyProgramEnable||newTripInfo.startLocation==null)}" [disabled]="dailyProgramEnable ||newTripInfo.startLocation==null" (click)="onManualPlanCreation()">Manual Plan Creation</button>
                <button class="apply-filters apply-filters-btn" (click)="onGenerateTrip()" 
                        [ngClass]="{'disabled': (dailyProgramEnable||newTripInfo.startLocation==null)}" [disabled]="dailyProgramEnable||newTripInfo.startLocation==null" >
                        Automated Plan Generation
                </button>
            </div>
        </div>
    </div>
    <app-generate-plan-page *ngIf="generatePlanVisible" [selectedAttractions]="selectedAttractions"
        [newTripInfo]="newTripInfo" [schedulePlacesResponse]="schedulePlaceResponse" (toggleVisibility)="toggleGeneratePlan()" (childCallback)="receivedChildFunction = $event"></app-generate-plan-page>
</div>