<div class="generate-plan-page">
    <div class="boxes-container box">
        <div class="box-content">

            <div class="box">
                <div class="box-inside-content">
                    <div class="map">
                        <google-map #GoogleMap height="100%" width="100%" [options]="mapCongiguration">
                        </google-map>
                    </div>
                </div>
            </div>
            <div class="column column-left" style="padding-right: 10px;">
                <div class="box">
                    <div class="box-inside-content">
                        <h2 class="box-title">Select a plan</h2>
                        <div class="filter-item" *ngIf="!isLoading">
                            <div class="select">
                                <select class="range-input" (change)="onDeisplayTripInfo($event)">
                                    <option value="upcoming">Upcoming</option>
                                    <option value="past">Past</option>
                                    <option value="all">All</option>
                                </select>
                            </div>
                        </div>
                        <div class="height50vh" *ngIf="!isLoading">
                            <div class="content-selected-attractions" *ngIf="displayedTrips.length!=0">
                                <div class="selected-attractions-container"
                                    *ngFor="let plan of displayedTrips; let i = index" >
                                    <div class="selected-attractions" [ngClass]="{'selected': i === selectedTripIndex}">
                                        <div class="selected-attractions-info" (click)="onTripInfoClick(i)">
                                            <div class="selected-attractions-details">
                                                <h3 class="selected-attractions-title">{{plan.tripName}}</h3>
                                                <p>{{transformDate(plan.startDate)}} &rarr;
                                                    {{transformDate(plan.endDate)}}</p>
                                            </div>
                                        </div>
                                        <button class="selected-attractions-button" (click)="cancelEditTripSlot(i)"
                                            *ngIf="getPlanDate(plan.startDate)>dateToday && selectedForEdit==i">cancel
                                        </button>
                                        <button class="selected-attractions-button" (click)="saveEditTripSlot(i)"
                                            *ngIf="getPlanDate(plan.startDate)>dateToday && selectedForEdit==i">save</button>
                                        <button class="selected-attractions-button" (click)="editTripSlot(i)"
                                            *ngIf="getPlanDate(plan.startDate)>dateToday && selectedForEdit!=i">edit</button>
                                        <button class="selected-attractions-button"
                                            (click)="removeTripSlot(i)">x</button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-selected-attractions" *ngIf="displayedTrips.length==0">
                                <div class="selected-attractions-container">
                                    <div class="selected-attractions">
                                        <div class="selected-attractions-info">
                                            <div class="selected-attractions-details">
                                                <h3 class="selected-attractions-title">No plans aveilable</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spinner-and-cards-wrapper" *ngIf="isLoading">
                            <div class="spinner-container">
                                <app-spinner></app-spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column column-right" style="padding-left: 10px;">
                <div class="box">
                    <div class="box-inside-content" *ngIf="selectedTripInfo">
                        <h2 class="box-title">{{selectedTripInfo.tripName}}</h2>
                        <div class="date-navigation" *ngIf="weatherData[currentDay-1]!=null"
                            style="display: flex; justify-content: center; align-items: center; padding-bottom: 5px;">
                            <div class="weather-container">
                                <div class="side-by-side">
                                    <img class="image-style"
                                        [src]="'assets/weatherImg/' + weatherData[currentDay-1].icon + '.svg'" />
                                    <p class="text-grow">{{weatherData[currentDay-1].temperature}}°C</p>
                                </div>
                            </div>
                        </div>
                        <div class="date-navigation"
                            style="display: flex; justify-content: center; align-items: center; padding-bottom: 5px;">

                            <button class="nav-btn" (click)="prevDay()">
                                <i class="arrow left"></i>
                            </button>
                            <span class="date-text">{{ displayedDateString }}</span>
                            <button class="nav-btn" (click)="nextDay()">
                                <i class="arrow right"></i>
                            </button>
                        </div>
                        <div class="height50vh" *ngIf="!isLoading">
                            <div class="selected-attractions-container"
                                *ngFor="let slot of selectedTripInfo.tripTimeSlots[currentDay-1]; let i = index" (click)="onSlotClick(i)">
                                <div class="selected-attractions">
                                    <div class="selected-attractions-info">
                                        <img *ngIf="slot.asignedPlace?.imageUrl" [src]="slot.asignedPlace?.imageUrl"
                                            alt="Attraction Image" class="selected-attractions-image"
                                            [ngClass]="{'selected': i === selectedSlotIndex}" />
                                        <img *ngIf="!slot.asignedPlace?.imageUrl"
                                            src="https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg"
                                            alt="Attraction Image" class="selected-attractions-image"
                                            [ngClass]="{'selected': i === selectedSlotIndex}" />
                                        <div class="selected-attractions-details">
                                            <h3 class="selected-attractions-title">{{ slot.start }} - {{ slot.end }}
                                                <span class="time-slot-type">{{
                                                    slot.type
                                                    }}</span>
                                            </h3>
                                            <p *ngIf="slot.asignedPlace">{{ slot.asignedPlace.name }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spinner-and-cards-wrapper" *ngIf="isLoading">
                            <div class="spinner-container">
                                <app-spinner></app-spinner>
                            </div>
                        </div>
                    </div>
                    <div class="box-inside-content" *ngIf="!selectedTripInfo">
                        <h2 class="box-title">No daily plan aveilable</h2>

                        <div class="spinner-and-cards-wrapper" *ngIf="isLoading">
                            <div class="spinner-container">
                                <app-spinner></app-spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" *ngIf="selectedForEdit>-1">
                <div class="box-inside-content">
                    <h2 class="box-title">Select the places that you want to visit and asign it to a time slot</h2>
                    <!-- Filter Bar -->
                    <div class="filter-bar">
                        <div class="filter-item">
                            <label for="orderBy">Order by:</label>
                            <div class="select">
                                <select class="range-input" (change)="onOrderByChange($event)">
                                    <!-- <option value="name">Name</option> -->
                                    <option value="prominence">Prominence</option>
                                    <option value="distance">Distance</option>
                                    <option value="recommendation">Recommendation</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-item">
                            <label for="attractionType">Attraction Type:</label>
                            <div class="select">
                                <select id="attractionType" (change)="onAttractionTypeChange($event)">
                                    <option value="tourist_attraction">Tourist attractions</option>
                                    <option value="museum">Museum</option>
                                    <option value="art_gallery">Art gallery</option>
                                    <option value="place_of_worship">Places of worship</option>
                                    <option value="park">Parks</option>
                                    <option value="restaurant">Restaurants</option>
                                    <option value="cafe">Cafe</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- End Filter Bar -->

                    <div class="spinner-and-cards-wrapper">
                        <div class="cards">
                            <app-creat-aplan-card *ngFor="let attraction of pageAttractions" [attraction]="attraction"
                                [isSelected]="isAttractionSelected(attraction)"
                                (selectItemEvent)="onSelectItem($event)"></app-creat-aplan-card>

                            <div class="spinner-container" *ngIf="isLoadingSelection">
                                <app-spinner></app-spinner>
                            </div>
                        </div>
                    </div>
                    <div class="navigation"><button class="nav-btn" (click)="prevPage()">
                            <i class="arrow left"></i>
                        </button>
                        <span class="page-number">{{currentPage}}</span>
                        <button class="nav-btn" (click)="nextPage()">
                            <i class="arrow right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<app-delete-dialog [showModal]="showModal" (cancel)="closeModal()" (confirm)="confirmModal()"></app-delete-dialog>