<div class="page">
    <div class="box">
        <div class="container">
            <div class="column column-left">
                <div class="box-content" style="margin-bottom: 5px;">
                    <p>manage-plans-page works!</p>
                </div>
                <div class="box-content" style="margin-top: 5px;">
                    <p>manage-plans-page works!</p>
                </div>
            </div>
            <div class="column column-right">
                <div  style="padding: 0px;" class="box-content">
                    <div class="map">
                        <google-map #GoogleMap height="100%" width="100%" [options]="mapCongiguration">
                        </google-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>