<nav class="navbar navbar-dark navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">TripPlanner</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a class="navbar-button">Attractions</a></li>
        <li routerLinkActive="active"><a class="navbar-button" (click)=logoutCurrentUser()>Create a plan</a></li>
      </ul>
    
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" mdbDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle navbar-button" role="button" mdbDropdownToggle
          aria-expanded="false">Account <span class="caret"></span></a>
          <ul mdbDropdownMenu class="dropdown-menu">
            <li><a class="dropdown-item" style="cursor: pointer;">Save Data</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
