.navbar{
    background-color: #1A1A1A;
    margin: 0px;
    position: sticky;
}

.navbar-brand{
    color: #cfcfcf;
}

.navbar-brand:hover{
    color: #FFA500;
    transition: 0.3s ease-in-out;
    background-color: #1A1A1A
}

.navbar-button{
    color: #cfcfcf;
}

.navbar-button:hover{
    color: #fff;
    transition: 0.3s ease-in-out;
    background-color: #1A1A1A
    /* border-bottom: #FFA500 4px solid; */

}