<div class="card">
  <div class="image">
    <div class="image-wrapper">
      <img class="real-image" [src]="attraction.imageUrl" alt="Features image">
    </div>
  </div> <div class="content">
     <a href="#">
       <span class="title">
         {{attraction.name}}
       </span>
     </a>
 
     <p class="desc">
        {{attraction.businessStatus}}
     </p>
 
     <a [routerLink]="['/Attraction', attraction.placeId]" class="action">
       Find out more
       <span aria-hidden="true">
         →
       </span>
     </a>
   </div>
 </div>