<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div [class.selected]="isSelected" class="card">
    <div class="image">
      <div class="image-wrapper">
        <img *ngIf="attraction.imageUrl" class="real-image" [src]="attraction.imageUrl">
      <img *ngIf="!attraction.imageUrl"
      src="https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg"
      alt="Attraction Image" class="real-image">
      </div>
    </div> <div class="content">
      <div class="content">
        <a>
          <span class="title">
            {{ attraction.name }}
          </span>
        </a>
      
        <p class="desc">
          <!-- {{ attraction.description }} -->
        </p>
      
        <div class="actions" >
          <a [routerLink]="['/Attraction', attraction.placeId]" class="action" target="_blank" style="margin-right:4px">
            Find out more
            <span aria-hidden="true">
              <i class="material-icons">arrow_forward</i>
            </span>
          </a>
          <a class="action" (click)="selectItem()" style="margin-left: 4px;">
            Select this attraction
            <span aria-hidden="true">
              <i class="material-icons">add</i>
            </span>
          </a>
        </div>
      </div>
     </div>
   </div>