<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div [class.selected]="isSelected" class="card">
    <div class="image">
      <div class="image-wrapper">
        <img class="real-image" [src]="attraction.imageUrl">
      </div>
    </div> <div class="content">
      <div class="content">
        <a>
          <span class="title">
            {{ attraction.name }}
          </span>
        </a>
      
        <p class="desc">
          <!-- {{ attraction.description }} -->
        </p>
      
        <div class="actions">
          <a [routerLink]="['/Attraction', attraction.placeId]" class="action" target="_blank">
            Find out more
            <span aria-hidden="true">
              <i class="material-icons">arrow_forward</i>
            </span>
          </a>
          <a class="action" (click)="selectItem()">
            Select this attraction
            <span aria-hidden="true">
              <i class="material-icons">add</i>
            </span>
          </a>
        </div>
      </div>
     </div>
   </div>